{% extends 'base.html.twig' %}

{% block title %}{{ 'index.title'|trans ~ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="btn-group btn-category-select mb-4" data-toggle="tooltip" title="{{ 'post.choose_cat' | trans }}" role="group">
                            <button type="button" data-postId="all" class="btn btn-secondary">All</button>
                            {% for category in categories %}
                                <button type="button" data-postId="{{ category.id }}" class="btn btn-{{ category.color }}">{{ category.name }} ({{ category.articles | length }})</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="articles-grid" data-ajaxUrl="{{ path('post_article_fetch_array') }}">
                    <div class="grid-sizer col-4"></div>
                </div>
                <div class="loader text-center">
                    <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">fetching data...</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Twitter de <b>{{ feed.channel.title }}</b></div>
                    <div class="card-body" style="max-height: 500px; overflow: auto;">
                        {% for post in feed.channel.item %}{{ post.description|raw }}{% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
